# Gradle
.gradle/
build/
**/build/
!gradle/wrapper/gradle-wrapper.jar
gradle-app.setting

# IDEs
.idea/
*.iml
.project
.classpath
.settings/
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
logs/
**/logs/

# Java
*.class
hs_err_pid*
replay_pid*

# Spring Boot
*.pid

# Docker
**/*.env
.env
